*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  width: 500px;
  border: 1px solid #777;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

/* heading: */
.image_post {
  width: 50px;
  height: 40px;
  border-radius: 50px;
  padding: 1px 1px; /* فاصله داخلی */
}
.post_name {
  display: flex;
  align-items: center;
  column-gap: 1px;
}

.post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.elipsis {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

/* post: */
.post_image {
  object-fit: cover;
  padding: 5px 5px;
}

.icon {
  width: 25px;
  height: 25px;
}

.icon-right {
  margin-left: auto;
}

.icon-rotate-sahre {
  transform: rotate(-30deg);
}

.icon-rotate-comand {
  transform: rotate(-55deg);
}

.details {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 800;
  padding-right: 16px;
}

/* //////// */

.light_gray {
  color: #a4a1a1;
}

.font_sm {
  font-size: 12px;
}

.font_xs {
  font-size: 10px;
}
